.container
  .starter-template
    %h1 About
    %p.lead
      This app was developed for the Data Science Student Challenge at Columbia University.
    %p
      The authors wanted to leverage the power of Microsoft's Azure Machine Learning studio to develop predictive models for classifying problem buildings. This app is supports the mission of Heat Seek NYC, a civic technology non-profit that seeks to harness the power of open data and the internet of things to keep New Yorkers warm in the Winter.