.container
  .starter-template
    %h1 Contact
    %p.lead
      Reach out! We're a friendly bunch.
    %p
      Sam Guleff, sg2665@columbia.edu
    %p
      Roberto Martin, rrm2112@columbia.edu
    %p
      Daniel Kronovet, daniel@heatseeknyc.com
    %p
      For general Heat Seek questions, please contact Noelle Francois, noelle@heatseeknyc.com