.container
  .starter-template
    %h1 Welcome to GotHeat!
    %p.lead
      This app will classify your building as high or low risk for heating issues.
    %p
      Use the form below to enter a building's info and see the results.
.container
  .row
    .col-sm-6
      .row
        .col-sm-8
          =form_tag( home_path, :method => :post ) do
            .form-group
              =label_tag(:zip, "Zip:")
              =text_field_tag(:zip)
            .form-group
              =label_tag(:year, "Year:")
              =text_field_tag(:year)
            .form-group
              =label_tag(:units, "Units:")
              =text_field_tag(:units)
            .form-group
              =submit_tag("Predict!")
      %p.page-header
        Prediction:

      -if params["vote"]
        -if params["vote"] == "positive"
          %div.high-heat
            =fa_stacked_icon "thumbs-o-up xinverse", base: "square-o", class: "fa-5x"
          %p You're good!
        -elsif params["vote"] == "negative"
          %div.low-heat
            =fa_stacked_icon "thumbs-o-down xinverse", base: "square-o", class: "fa-5x"
          %p Buy a sweater!
      -else
        %p You haven't submitted anything!

    .col-sm-6

      / %div
      /   =form_tag( home_path, :method => :post ) do
      /     =label_tag(:q, "Search for:")
      /     =text_field_tag(:q)
      /     =submit_tag("Search")

      %hr
      %div#map-canvas{style: 'width: 600px; height: 500px;'}
      -# -markers = handler.addMarkers(<%=raw @hash.to_json %>);

      / %script{:type => "text/javascript"}
      %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
      %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"}
      :javascript
        var map;
        var global_markers = [];
        var markers = [[40.722173, -73.823385, 0], [40.724178, -73.853285, 1], [40.759278, -73.853285, 0]];

        // var infowindow = new google.maps.InfoWindow({});

        function initialize() {
          geocoder = new google.maps.Geocoder();
          var latlng = new google.maps.LatLng(40.729178, -73.853285);
          var myOptions = {
              zoom: 10,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
          addMarker();
        }

        function addMarker() {
          for (var i = 0; i < markers.length; i++) {
            // obtain the attribues of each marker
            var lat = parseFloat(markers[i][0]);
            var lng = parseFloat(markers[i][1]);
            var cold = markers[i][2];
            var opac = cold ? 1 : 0.4;

            var myLatlng = new google.maps.LatLng(lat, lng);

            var contentString = "<html><body><div><p><h2>Hi!</h2></p></div></body></html>";

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                opacity: opac,
            });

            // marker['infowindow'] = contentString;

            global_markers[i] = marker;

            // google.maps.event.addListener(global_markers[i], 'click', function() {
            //     infowindow.setContent(this['infowindow']);
            //     infowindow.open(map, this);
            // });
          }
        }

        window.onload = initialize;
